body{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-top: 0;
padding: 0;
background-color: #ffe8d3;
}

html{
    scroll-behavior: smooth;
}


section{
 padding: 1rem 4rem; /*4rem em cima/baixo nas laterais*/
}

.section-azul1{
    background-color: #00bbc2;
}

.minha-navbar{
    background-color: #00bbc2;
    height: 90px;
    font-size: 20px;
    width: 100%;
    margin: 0;
    padding: 0 110px 0 0 ;
    border: none;
    box-sizing: border-box;
}



.bottom-navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffe8d3;
    border-top: 1px solid #494554;
 }


.navbar-nav .nav-link{
    color: #494554;
    background-color: #00bbc2;
}


.navbar-nav .dropdown-menu {
 color: #494554;
 background-color: #00bbc2;
}



.navbar-nav .nav-link.active{
    color: #494554  !important;
}

.navbar-brand{
    color: #494554;
    display: flex;
}

.navbar-brand img.logotipo{
    max-height: 100px;
    height: auto;
    width: auto;
}

header{
background-color: #ffe8d3;
width: 100%;
padding: 0px 0 70px 0;
justify-content:center
}

h1{
  color: #00bbc2;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  padding: 40px 0 0 0;
  margin: 20px 0 0 0 ;
}

.chamadoinicial{
    color: #494554;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    line-height: 1.2;
    margin-left: 4rem;
    margin-right: 4rem;
}


a{
     color: #00bbc2;
}


.sectionpacotesazul{
    background: #00bbc2;
    padding: 50px;
    margin-top: -50px;
    }

.azulh2{
    font-weight: bold;
    margin-bottom: 0;
    color: #494554;
    font-size: 40px auto;
}

.paragrafoazul{
    margin-top: 0;
    color: #494554;
    font-size: 40px auto;
    font-weight: bolder;
}

    
 .cards-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    
}


.card{

    color: #494554;
}

.card-body{

    background-color: #ffe8d3;
}

.card-title {
    font-weight: bold;
    color: #00bbc2;
}

.valor{

    font-weight: bold;
}


.btn-primary {

    font-weight: bolder;
    background-color: #00bbc2;
    color: #494554;
    border-color: #00bbc2;
    
}


.btn-primary:hover {

    font-weight: bolder;
    background-color: #494554;
    color: #00bbc2;
    border-color: #00bbc2;
    
}


form,input,select,textarea{

    color: #494554;
}


.row figure img{
    width: 500px ;
    height: auto;
    border-radius: 2px;
}

section .pacotes{
    background-color: #ffe8d3;
}




table{
    background-color: #00bbc2;
    color: #494554;
    font-size: 20px auto;
    margin-left: 0;
    width: 70%;
    border: 1px solid #494554;
    border-radius: 10px;
    border-collapse: separate;
    font-family: Arial, sans-serif;
    padding: 10px;

}

.section-bege3{
    font-size: auto;
}





th{
    border-radius: 5px;
    background-color: #ffe8d3;
}

.footer-bege1 .autoria{
    max-height: 20px auto;
    font-size: 20px;
    text-align: center;
    height: auto;
    width: auto;
}

/* Estilizar o Checkout */
 main h1 {
    color: #333333; 
    font-weight: bold;
  }

  .text-primary {
    color: #00bbc2 !important; 
  }
  
  .bg-primary {
    background-color: #00bbc2 !important;
  }

 main h1 {
    color: #00bbc2 !important; 
    font-weight: bold;
  }
  
  .text-primary {
    color: #00bbc2 !important; 
  }

  .bg-primary {
    color: #333333;
    background-color: #00bbc2 !important; 
  }

 button.btn.btn-secondary {
    
 color: #333333;
 background-color: #00bbc2 !important;

  }
  

.footer-bege1 p.autoria {
    text-align: center;
    font-size: 15px;
  }